<h1>Hi {{ vm.getCurrentUser().nome }}</h1>

<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.nome}} {{user.cognome}})
        <span ng-show="user._id === vm.user._id">
            - <a href="#/login" ng-click="vm.deleteUser(user._id)">Delete</a>
        </span>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#/logout" class="btn btn-primary">Logout</a></p>
<p><a href="#/chat" class="btn btn-primary" ng-click="vm.newUserConnected()">CAZZO VUOI CHATTARE?!?</a></p>