<style>
     * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      /*form { padding: 3px; position: fixed; bottom: 0; width: 70%; }*/
      form input { border: 5; padding: 10px; width: 90%; margin-right: .5%; margin-bottom: 20px; }
      form button { width: 9%; background: rgb(130, 224, 255); border: 5; padding: 10px; }
    /*  #users { list-style-type: none; margin: 0; padding: 0; }
      #users li { padding: 5px 10px; }
      #users li:nth-child(odd) { background: #eee; }ù
*/
      #messages { font-size:15px; list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
</style>

<div>
    Utenti loggati  {{ vm.getCurrentUser().nome }}
    <div ng-repeat="user in vm.allUsers">
        user: {{user.username}}
    </div>
</div>

<form ng-submit="vm.sendMessage()">
    <div style="padding: 3px; position: fixed; top: 0; width: 70%">
        <a href="#/login" class="btn btn-primary" style="float:right">Logout</a></br>
        <h3 style="text-align:center">LAVORARE OGNI TANTO NO EH?!?</h3>
    </div>
    
    <div id="messages" style="width: 70%; position: absolute; top: 110px; height: 75%; overflow-y: auto; padding-right: 20px;">
        <div ng-repeat="msg in vm.messages">
            <!-- Se il messaggio non è dell'utente loggato -->
            <div ng-if="msg.user !== vm.getCurrentUser().username" style="float:left; padding:10px; display:inline-block; border-radius:7.5px; box-shadow:0 1px .5px; margin:10px 0px 10px 0px; background-color: #adebeb;">
                <div style="font-weight:bold; font-size:12px"> {{msg.user}} </div>
                <div> {{msg.message}} </div>
            </div>
            <!-- Se il messaggio è dell'utente loggato -->
            <div ng-if="msg.user === vm.getCurrentUser().username" style="float:right; padding:10px; display:inline-block; border-radius:7.5px; box-shadow:0 1px .5px; margin:10px 0px 10px 0px; background-color: #aaff80;">
                <div> {{msg.message}} </div>
            </div>
            <div style="clear:both"/>
        </div>
    </div>
    
    <footer style="position: absolute; bottom: 0; width: 70%; height: 60px;">
        <input id="m" placeholder="Inserisci testo" ng-model="vm.message" autocomplete="off" required/>
        <button ng-disabled="form.$invalid" class="btn btn-secondary">Send</button>
    </footer>

</form>

<script>
    /*
    //socket dei messaggi
    var socket = io();
    var user = "";
    $('form').submit(function(){
        user = angular.element($('#m')).controller().user;
        socket.emit('chat message', angular.element($('#m')).controller().createMsg($('#m').val()));
        $('#m').val('');
        return false;
    });
    socket.on('chat message', function(msg){
        user = angular.element($('#m')).controller().user;
        if (user === msg[0]) {
            $('#messages').append($('<div style="float:right; padding:10px; display:inline-block; border-radius:7.5px; box-shadow:0 1px .5px; margin:10px 0px 10px 0px; background-color: #aaff80;">' + msg[1] + '</div></div><div style="clear:both"/>'));
        } else {
            $('#messages').append($('<div style="float:left; padding:10px; display:inline-block; border-radius:7.5px; box-shadow:0 1px .5px; margin:10px 0px 10px 0px; background-color: #adebeb;"><div style="font-weight:bold; font-size:12px">' + msg[0] + ':</div><div>' + msg[1] + '</div></div><div style="clear:both"/>'));
            notifica(msg);
        }
        scrollToBottom();
    });
    */
    
    //scroll to bottom
    function scrollToBottom(){
        $('#messages').animate({
        scrollTop: $('#messages').get(0).scrollHeight});
    }
    
    //setta il focus sull'input al caricamento della pagina
    $(document).ready(function(){
        $("#m").focus();
    })
    
    //notifiche all'arrivo di nuovi messaggi
    function notifica(msg){
        if(! ('Notification' in window) ){
            console.log('Web Notification not supported');
            return;
        }   

        Notification.requestPermission(function(permission){
            document.title = "New Messages!";
            var notification = new Notification("Nuovo messaggio!",{body:msg[0] + ": " + msg[1],icon:'http://i.stack.imgur.com/Jzjhz.png?s=48&g=1', dir:'auto'});
            setTimeout(function(){
                notification.close();
            },3000);
        });
    }
    
    //reset titolo
    var input = document.getElementById("m");
    input.addEventListener("focus",function(){
        document.title = "Chat Aubay";
    })
    
    //update messages
    var messages = document.getElementById("messages");
    //var lastMessage = angular.element($('#m')).controller().vm.messages.
    messages.addEventListener("DOMCharacterDataModified",function(){
        scrollToBottom();
        //if ()
    })
</script>